.excel-row-column-cp {
	display:inline-block;
	width: 55px;
}
.excel-row-column-id {
	display:inline-block;
	width:25px;
}
.excel-row-column-name {
	display:inline-block;
	width:80px;
}

.excel-row-gap {
	display:inline-block;
	width:197.125px;
}

.micro-button {
	font-size:10px;
}