<div>
	<div class="excel-row-column-id">{{poke.id}}</div>
	<div class="excel-row-column-name">{{poke.name}}</div>
	<input class="excel-row-column-cp" type="number" min="10" max="9999" [(ngModel)]="poke.cp" (keyup)="cpCalc()" (change)="cpCalc()">
	
	<!--TODO: There has to be a dynamic way to build this-->
	<div style="display:inline-block;" *ngIf="poke.id != 133">
		<div style="display:inline-block;" *ngIf="!poke.evol">
			<div class="excel-row-gap">&nbsp;</div>
			<div class="excel-row-gap">&nbsp;</div>
		</div>
		<div style="display:inline-block;" *ngIf="poke.evol">
			<div class="excel-row-column-name">{{poke.evol[0].name}}</div>
			<div class="excel-row-column-cp">{{poke.evol[0].minCp}}</div>
			<div class="excel-row-column-cp">{{poke.evol[0].maxCp}}</div>
			
			<div style="display:inline-block;" *ngIf="poke.evol.length == 2">
				<div class="excel-row-column-name">{{poke.evol[1].name}}</div>
				<div class="excel-row-column-cp">{{poke.evol[1].minCp}}</div>
				<div class="excel-row-column-cp">{{poke.evol[1].maxCp}}</div>
			</div>
			<div style="display:inline-block;" *ngIf="poke.evol.length != 2">
				<div class="excel-row-gap">&nbsp;</div>
			</div>
		</div>
	</div>
	
	<!--Eevee Special Section-->
	<div style="display:inline-block;" *ngIf="poke.id == 133">
		<div style="display:inline-block;" *ngIf="!poke.evol">
			<div class="excel-row-gap">See Evolutions</div>
			<div class="excel-row-gap">&nbsp;</div>
		</div>
	</div>
	
	<div style="display:inline-block;">
		<div class="btn-group" style="display: inline-block;">
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Perfect">Perfect</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Strong">Strong</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Decent">Decent</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Improvement">Improve</label>
		</div>
		
		<div class="btn-group" style="display: inline-block;">
			<label class="btn btn-sm btn-warning micro-button" [(ngModel)]="checkModel.Attack" btnCheckbox>Attack</label>
			<label class="btn btn-sm btn-warning micro-button" [(ngModel)]="checkModel.Defense" btnCheckbox>Defense</label>
			<label class="btn btn-sm btn-warning micro-button" [(ngModel)]="checkModel.Stamina" btnCheckbox>Stamina</label>
		</div>
		
		<div style="display: inline-block;">
			<button class="btn btn-sm btn-success micro-button" (click)="addRow()">+</button>
			<button class="btn btn-sm btn-danger micro-button" (click)="removeRow()" *ngIf="poke.new">-</button>
		</div>
	</div>
</div>
