angular2/angular-quickstart/app/app.component.js
angular2/angular-quickstart/app/app.component.js.map
angular2/angular-quickstart/app/app.module.js.map
angular2/angular-quickstart/app/app.module.js
angular2/angular-quickstart/app/main.js
angular2/angular-quickstart/app/main.js.map
angular2/angular-quickstart/node_modules/*
!angular2/angular-quickstart/node_modules/ .getkeep

angular2/angular-tour-of-heroes/node_modules/*
!angular2/angular-tour-of-heroes/node_modules/ .getkeep
angular2/angular-tour-of-heroes/npm-debug.log
