.pokemon-eval-cp-table {
	border-style: solid;
}
.pokemon-eval-cp-table-row-evol {
	background-color: green;
}
.red{
	background-color:red;
}
.blue{
	background-color:blue;
}
.inline {
	float:left;
}

/*Columns*/
.column-currentCP {
	display:inline-block; 
	margin-right:15px;
	width:85px; 
}
.column-evol-cp {
	display:inline-block;
	width:55px; 
}
.column-evol-name {
	display:inline-block;
	width:85px; 
}
.column-evol-multi-input {
	display:inline-block;
	width:45px; 
}
.column-number {
	float:left;
	width:30px; 
}
.column-name {
	display:inline-block;
	width:85px; 
}
.column-end {
	margin-right:15px;
}
