.banner-main {
	padding: 10px;
	width:100%; 
	height: 50px; 
	margin-bottom: 5px; 
	border:1px blue solid;
}

.banner-main h1 {
	vertical-align: top;
	font-size: 15px;
	display: inline-block;
}

.banner-main div {
	display: inline-block;
	float: right;
}