<div>
	<div class="excel-row-column-id">{{poke.id}}</div>
	<div class="excel-row-column-name">{{poke.name}}</div>
	<input class="excel-row-column-cp" type="number" min="10" max="9999" [(ngModel)]="poke.cp" (keyup)="cpCalc()" (change)="cpCalc()">
	
	<!--TODO: There has to be a dynamic way to build this-->
	<div style="display:inline-block;" *ngIf="poke.evol">
		<div style="display:inline-block; border: 1px solid green;" *ngFor="let evol of poke.evol">
			<div class="excel-row-column-name">{{evol.name}}</div>
			<div class="excel-row-column-cp">{{evol.minCp}}</div>
			<div class="excel-row-column-cp">{{evol.maxCp}}</div>
		</div>
		<div style="display:inline-block;" *ngIf="poke.evol.length===1">
			<div class="excel-row-gap">&nbsp;</div>
		</div>
	</div>
	<div style="display:inline-block;" *ngIf="!poke.evol">
		<div class="excel-row-gap">&nbsp;</div>
		<div class="excel-row-gap">&nbsp;</div>
	</div>
	
	<div style="display:inline-block;">
		<!--<table style="border: 1px purple solid; height:20px">
			<tr>
				<th>P</th>
				<th>S</th>
				<th>D</th>
				<th>I</th>
			</tr>
			<tr>
				<td><input type="radio" value="yes" name="analysis" checked></td>
				<td><input type="radio" value="strong" name="analysis"></td>
				<td><input type="radio" value="decent" name="analysis"></td>
				<td><input type="radio" value="no" name="analysis"></td>
			</tr>
			Perfect, Strong, Decent, Improvement
		</table>-->
		<div class="btn-group" style="display: inline-block;">
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Perfect">Perfect</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Strong">Strong</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Decent">Decent</label>
			<label class="btn btn-sm btn-primary micro-button" [(ngModel)]="radioModel" btnRadio="Improvement">Improve</label>
		</div>
		
		<div class="btn-group" style="display: inline-block;">
			<label class="btn btn-sm btn-success micro-button" [(ngModel)]="checkModel.Attack" btnCheckbox>Attack</label>
			<label class="btn btn-sm btn-success micro-button" [(ngModel)]="checkModel.Defense" btnCheckbox>Defense</label>
			<label class="btn btn-sm btn-success micro-button" [(ngModel)]="checkModel.Stamina" btnCheckbox>Stamina</label>
		</div>
		
	</div>
	
	
	
	
	
	
</div>