<div>
	<div class="excel-row-column-id">{{poke.id}}</div>
	<div class="excel-row-column-name">{{poke.name}}</div>
	<input class="excel-row-column-cp" type="number" min="10" max="9999" [(ngModel)]="poke.cp" (keyup)="cpCalc()" (change)="cpCalc()">
	
	<!--TODO: There has to be a dynamic way to build this-->
	<div style="display:inline-block;" *ngIf="poke.evol">
		<div style="display:inline-block; border: 1px solid green;" *ngFor="let evol of poke.evol">
			<div class="excel-row-column-name">{{evol.name}}</div>
			<div class="excel-row-column-cp">{{evol.minCp}}</div>
			<div class="excel-row-column-cp">{{evol.maxCp}}</div>
		</div>
		<div style="display:inline-block;" *ngIf="poke.evol.length===1">
			<div class="excel-row-gap">&nbsp;</div>
		</div>
	</div>
	<div style="display:inline-block;" *ngIf="!poke.evol">
		<div class="excel-row-gap">&nbsp;</div>
		<div class="excel-row-gap">&nbsp;</div>
	</div>
	
	<div style="display:inline-block;">
		<form style="display:inline-block;">
			<input type="radio" value="yes" name="analysis" checked> Perfect
			<input type="radio" value="strong" name="analysis"> Strong
			<input type="radio" value="decent" name="analysis"> Decent
			<input type="radio" value="no" name="analysis"> Improvement
		</form>
	</div>
	
	
	
	
	
	
</div>