<div class="btn-group" style="display: inline-block;">
	<label class="btn btn-sm btn-primary" [(ngModel)]="radioModel" btnRadio="excel">Excel View</label>
	<label class="btn btn-sm btn-primary" [(ngModel)]="radioModel" btnRadio="filterExcel">Filtered Excel</label>
	<label class="btn btn-sm btn-primary" [(ngModel)]="radioModel" btnRadio="single">Single View</label>
</div>

<excel-view *ngIf="radioModel === 'excel'"></excel-view>
<single-view *ngIf="radioModel === 'single'"></single-view>








































