<button class="btn btn-sm" (click)="forceUpdate(selPokemon.id)">Force update</button>
<div>
	<div style="width:150px; height:100%; display: inline-block; border: 1px red solid; overflow-y: scroll">
		<div *ngFor="let poke of pokemonSideBarList" (click)="selectPoke(poke.id)" class="sidebar-line-item">
			{{poke.id}}: {{poke.name}}
		</div>
	</div>
	<div style="display: inline-block; vertical-align: top;">
		<div style="font-size: 30px">{{selPokemon.name}}</div>		
		<excel-row *ngFor="let extra of selPokemon.extra" [poke]="extra" [pokeIndex]="extra.masterIndex"></excel-row>
	</div>
</div>