<div style="padding-top: 15px;">
	<label style="width:90px;" *ngFor="let poke of pokemonInventory" 
		class="btn btn-sm btn-primary micro-button" 
		(click)="selectPoke(poke)" 
		[(ngModel)]="poke.selected"
		btnCheckbox>{{poke.id}}: {{poke.name}}</label>
</div>
<div>
	<table>
		<tr>
			<th></th>
			<th class="name-width">Name</th>
			<th>How many candy do you have?</th>
			<th>Evol 1</th>
			<th>Evol 2</th>
		</tr>
		<tr *ngFor="let poke of buddyList">
			<td class="btn btn-sm btn-danger micro-button" (click)="removePokemon(poke)">-</td>
			<td>{{poke.name}}</td>
			<td><input type="number" [(ngModel)]="poke.candyHave" (keyup)="candyInput(poke)" (change)="candyInput(poke)"></td>
			<td *ngIf="poke.candyHave && poke.evol && poke.evol.length > 0">
				<div>Candy Needed: {{poke.evol[0].candyNeed}}</div>
				<div>Max Catches: {{poke.evol[0].catchNeed}}</div>
				<div>Distance (km): {{poke.evol[0].disNeed}}</div>
			</td>
			<td *ngIf="poke.candyHave && poke.evol && poke.evol.length === 2">
				<div>Candy Needed: {{poke.evol[1].candyNeed}}</div>
				<div>Max Catches: {{poke.evol[1].catchNeed}}</div>
				<div>Distance (km): {{poke.evol[1].disNeed}}</div>
			</td>
		</tr>
	</table>
</div>