<div style="padding-top: 15px;">	
	<sidebar 
		[inputList]="pokemonInventory"
		[returnList]="true"
		(clearList)="onClearList($event)"
		(outputList)="onListUpdate($event)">
	</sidebar>
	
	<div style="display:inline-block;vertical-align:top;">
		<table>
			<tr>
				<th>Name</th>
				<th>How many candy do you have?</th>
				<th>Evol 1</th>
				<th>Evol 2</th>
			</tr>
			<tr *ngFor="let poke of buddyList" style="height:60px;">
				<td class="name-width">{{poke.name}}</td>
				<td><input type="number" [(ngModel)]="poke.candyHave" (keyup)="onCandyInput(poke)" (change)="onCandyInput(poke)"></td>
				<td style="width:90px;" *ngIf="poke.candyHave > -1">
					<div *ngFor="let temp of poke['evol1']" class="micro-button">
						<div>{{temp.name}}</div>
						<div>Candy Needed: {{temp.candyNeed}}</div>
						<div>Max Catches: {{temp.catchNeed}}</div>
						<div>Distance (km): {{temp.disNeed}}</div>
					</div>
				</td>
				<td style="width:90px;" *ngIf="poke.candyHave > -1">
					<div *ngFor="let temp of poke['evol2']" class="micro-button">
						<div>{{temp.name}}</div>				
						<div>Candy Needed: {{temp.candyNeed}}</div>
						<div>Max Catches: {{temp.catchNeed}}</div>
						<div>Distance (km): {{temp.disNeed}}</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
